# Dolphin Folder Configure File
.directory
.idea

# OpenGL Learning exec binary
run

# Binary
*.exe
*.apk
*.ap_

# Lava class and dex
*.dex
*.class

# Gradle and Build
*/build/

# Configure files that should not be in VCS
local.properties

# IDE Misc
*.iml